* {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1%;
}

body {
  color: white;
  background-color: black;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: inline-block;
  margin: 0 30% 0 20%;
}

nav a {
  border: 1px solid #eee;
  background-color: rgb(190, 190, 190);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  text-decoration: none;
  margin: 0 10px;
  padding: 1.0rem;
}

.logo {
  padding: 14px 5px;
  margin-left: 50px;
  max-width: 40px;
  border-radius: 50%;
}

.hero {
  display: flex;
  height: auto;
}

.hero-img {
  display: flex;
  height: auto;
}

.hehe {
  border: 1px solid #fda530;
  background-color: #fda530;
  color: black;
  border-radius: 5px;
  padding: 5px;
}

.hero-p {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}

h1, .hehe {
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 30px;
}

.hero-text, .hero-img {
  width: 50%;
}

footer {
  width: 100%;
  height: 4em;
  position: absolute;
  bottom: 10px;
}

ul li {
 font-size: 15px;
}