/* GLOBAL */
* {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1%;
}

section {
  height: 100vh;
  border-bottom: 1px solid #eee;
}

body {
  color: white;
  background-color: rgba(0, 0, 0, 0.932);
}


/* @MEDIA MAX 700px */
@media screen and (max-width: 700px) {
  .nav1 {
    flex-direction: column;
    max-width: 42vw;
  }

  .logo,
  .hehe2 {
  font-size: 26px;
  }

  nav a {
    margin: 3px;
    min-width: 130px;
    display: flex;
    justify-content: center;

  }

  aside {
    bottom: 65vh;
  }

  h1 {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: "Permanent Marker", cursive;
    letter-spacing: 3px;
  }
  
  h2 {
    font-family: "Permanent Marker", cursive;
    letter-spacing: 3px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .prosjekt1-p,
  .prosjekt2-p,
  .prosjekt3-p {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
  }

  .hero-p,
  .om-meg-p,
  .kontakt-info-p {
    font-family: "Permanent Marker", cursive;
    letter-spacing: 3px;
    color: rgb(204, 204, 204);
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .om-meg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

  .kontakt-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

}

/* @MEDIA 701px+ */

@media  screen and (min-width: 701px) {
  .nav1 {
    min-width: 80vw;
  }
  
  .logo,
  .hehe2 {
  font-size: 35px;
  }

  aside {
    bottom: 70vh;
  }  

  h1 {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: "Permanent Marker", cursive;
    letter-spacing: 3px;
  }
  
  h2 {
    font-family: "Permanent Marker", cursive;
    letter-spacing: 3px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .prosjekt1-p,
  .prosjekt2-p,
  .prosjekt3-p {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
  }

  .hero-p,
  .om-meg-p,
  .kontakt-info-p {
    font-family: "Permanent Marker", cursive;
    letter-spacing: 3px;
    color: rgb(204, 204, 204);
  }

  .hero,
  .om-meg,
  .kontakt-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-text,
  .hero-img,
  .om-meg-text,
  .om-meg-img,
  .kontakt-info-text,
  .kontakt-info-img {
    width: 50%;
  }

}

/* HEADER */
header {
  display: flex;
  align-items: center;
  height: auto;
  position: sticky;
  top: 0;
  background-color: rgba(14, 14, 14, 0.555);
  box-shadow: 0 0 50px 1px;
  border-radius: 15px;
}

nav {
  display: flex;
  position: relative;
  height: auto;
}

.nav1 {
  display: flex;
  flex-wrap: wrap;
}

nav a:hover {
  filter: brightness(120%);
  box-shadow: 0 0 100px 1px #bebebe;
}

nav a {
  border: 1px solid #eee;
  background-color: #eee;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 1%;
  height: auto;
}

header a {
  text-decoration: none;
}

.logo {
  color: #eee;
  padding: 14px 5px;
  
}

.hehe2 {
  border: 1px solid #fda530;
  background-color: #fda530;
  color: black;
  border-radius: 5px;
  padding: 5px;
  text-wrap: nowrap;
  margin: 1% 0 1% 0;
}



/* MAIN */
.hero-img,
.om-meg-img,
.kontakt-info-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10%;
  box-shadow: 0 0 10px 2px;
}



/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  background-color: rgb(0, 0, 0);
  position: sticky;
  left: 0;
  bottom: 0;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 0 50px 1px black;
}

ul li {
 font-size: 15px;
 width: 30vw;
}

ul {
  padding: 0;
  list-style: none;
}



.social {
  display: flex;
  width: 10vw;
  justify-content: center;
}

.ig-logo {
  max-width: 60px;
}

.fb-logo {
  padding-left: 12px;
  padding-top: 8px;
  max-width: 29px;
}

.git-logo {
  max-width: 43px;
}

/* PROSJEKTER MAIN */

.prosjekt1,
.prosjekt2,
.prosjekt3 {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.prosjekt1-img,
.prosjekt2-img,
.prosjekt3-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10%;
  box-shadow: 0 0 10px 2px;
}





.prosjekt1-text,
.prosjekt1-img,
.prosjekt2-text,
.prosjekt2-img,
.prosjekt3-text,
.prosjekt3-img {
  width: 50%;
}

aside {
  min-width: 70px;
  padding: 7px;
  justify-self: flex-start;
  background-color: #000000ce;
  border-radius: 15px;
  position: sticky;
  width: 10%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TODO: pynte meir på knappene */
aside a {
  color: black;
  text-decoration: none;
  font-size: 0.6em;
  background-color: #eee;
  border: 1px solid #eee;
  border-radius: 15px;
  padding: 2%;
}

